<h2>List of ratings</h2>

<div id="ratings">
    <ul>
    <% @ratings.each do |rating| %>
        <li> <%= render rating %> </li>
    <% end %>
    </ul>
</div>

<%= link_to "New rating", ratings_new_path %>





